.contact {
   background: $black url('/dist/img/map.png') no-repeat center / cover;
   width: 100%;
   h3,
   i {
      color: $white;
   }
   button {
      margin: 0 auto;
   }
}

// form fields
.form-group {
   flex-basis: 48%;
   margin: 0 auto 40px;
   min-height: 200px;
}
.form-flex {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.form-group input,
.form-group select,
.form-group textarea {
   display: block;
   width: 100%;
   padding: 8px;
}

.form-group textarea {
   min-height: 200px;
}

@media (max-width: 900px) {
   .form-group {
      flex-basis: 100%;
   }
}
