.page-header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
}

.logo {
   max-width: 100px;
   max-height: 50px;
}

.menu {
   padding: 0;
   li {
      display: inline-block;
   }
   a {
      display: block;
      padding: 15px 10px;
      margin: 0 20px;
      &:hover {
         color: $yellow;
      }
   }
   .active {
      color: $yellow;
   }
}
.slicknav_menu {
   display: none;
}

@media (max-width: 900px) {
   .menu {
      display: none;
   }
   .logo {
      margin-top: 15px;
      z-index: 3;
   }
   .slicknav_nav {
      display: block;
      a {
         text-align: center;
      }
   }
   .slicknav_menu {
      display: block;
      position: fixed;
      width: 100%;
      z-index: 2;
   }
}
