.team {
   background: $light-gray;
   & figure {
      flex-basis: 23%;
   }
   &__img {
      max-width: 155px;
      margin: 0 auto;
      max-height: 155px;
      border-radius: 50%;
      overflow: hidden;
   }
}

// social icons
.team__icons ion-icon {
   font-size: 25px;
   color: $black;
   padding: 5px;
   margin: 0 5px;
   border: 1px solid $black;
   border-radius: 50%;
}

@media (max-width: 900px) {
   .team figure {
      flex-basis: 100%;
      margin-bottom: 20px;
   }
}
