$font-primary: 14px 'Montserrat', sans-serif;
$font-roboto: 14px 'Roboto Slab', sans-serif;
$text: #737373;
$black: #000000;
$yellow: #fed136;
$light-gray: #f7f7f7;
$white: #ffffff;
$picutre-border: #f1f1f1;
